@use 'styles' as *;

.inputContainer {
  position: relative;
  max-width: 400px;
}

.inputWrap {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid $color-default-white;
  height: 40px;

  @include desktop-medium {
    border-bottom: 2px solid $color-default-white;
  }
}

.input {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

.icon {
  line-height: 0;
  max-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  // add you style for icon
}

.error {
  pointer-events: none;
  position: absolute;
  bottom: -10px;
  left: 0;
  line-height: 10px;

  // add you style for error
  color: red;
  font-size: 10px;
}

.label {
  // add you style for label
  font-weight: $fw-medium;
  font-size: 16px;
  line-height: 20px;

  @include desktop-medium {
    font-size: 22px;
    line-height: 30px;
  }
}
