@use 'styles' as *;

.portfolio {
  width: 100%;
  min-height: 100vh;
  background-color: $color-default-white;
  padding: 40px 0 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: sticky;
  z-index: 3;
  top: 0;

  @include mobile-big {
    min-height: 60vh;
    position: static;
  }
}

.title {
  font-family: $font-Monserrat;
  font-style: normal;
  font-weight: $fw-medium;
  font-size: 48px;
  line-height: 59px;

  margin-bottom: 20px;
  color: $color-default-black;

  @include desktop-medium {
    font-size: 58px;
    line-height: 69px;
  }
  @include tablet {
    font-size: 38px;
    line-height: 49px;
  }

  @include mobile-big {
    margin-bottom: 0;
  }
}

.sliderWrap {
  width: 100%;
  padding: 40px;
  flex-grow: 1;
  display: flex;

  @include mobile-big {
    padding: 0;
  }

  div[class*='swiper-button-next'] {
    position: absolute;
    right: -50px;
    top: 40%;
    pointer-events: auto;
    color: $color-default-black;

    @include mobile-big {
      display: none;
    }
  }

  div[class*='swiper-button-prev'] {
    position: absolute;
    left: -50px;
    top: 40%;
    pointer-events: auto;
    color: $color-default-black;

    @include mobile-big {
      display: none;
    }
  }

  div[class*='swiper-pagination'] {
    margin-bottom: -30px;
  }
}

.slider {
  width: 80%;
  pointer-events: none;

  @include desktop-big {
    width: 90%;
  }

  @include desktop-medium {
    width: 80%;
  }
  @include desktop {
    width: 60%;
  }
  @include mobile-big {
    width: 100%;
  }
}

.slide {
  position: relative;
}

.slideImage {
  pointer-events: none;
}
.button {
  position: absolute;
  bottom: 0;
  right: 0;

  div[class*='buttonBgHover'] {
    background-color: $color-default-black;
  }

  button {
    &:hover {
      transition: 1s;
      color: $color-default-white;

      svg {
        transition: 2s;
        color: $color-default-white;
      }
    }
  }

  @include mobile-big {
    width: 120px;
  }
}
