@use 'styles' as *;

.contactsWrapper {
  position: sticky;
  top: 0;
  z-index: 6;

  overflow: hidden;
  min-height: 100vh;

  @include mobile-big {
    min-height: auto;
    position: relative;
  }
}

.contacts {
  width: 100%;
  min-height: 100vh;
  background: $color-default-black url('/assets/images/contactsBg.webp')
    no-repeat left;
  background-size: 50% 100%;
  color: $color-default-white;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile-big {
    background-position: bottom;
    background-size: 100% 50%;
    padding: 40px 0;
  }
}

.wrapper {
  @include wrapper;

  display: flex;
  justify-content: space-between;

  @include mobile-big {
    flex-direction: column-reverse;
  }
}

.sendMe {
  width: 50%;
  padding-right: 20px;

  @include mobile-big {
    width: 100%;
    padding-right: 0;
  }
}
.sendMeTitle,
.servicesTitle {
  font-weight: $fw-medium;
  font-size: 48px;
  line-height: 59px;

  margin-bottom: 50px;

  @include desktop-medium {
    font-size: 58px;
    line-height: 69px;
  }

  @include tablet {
    font-size: 38px;
    line-height: 49px;
  }

  @include mobile-big {
    text-align: center;
  }
}

.servicesTitle {
  text-align: end;

  @include mobile-big {
    text-align: center;
  }
}

.input,
.inputContact {
  margin-bottom: 50px;

  input {
    color: $color-default-white;
    font-weight: $fw-medium;
    font-size: 16px;
    line-height: 20px;

    @include desktop-medium {
      font-size: 22px;
      line-height: 30px;
    }
  }
}
.inputContact {
  &:after {
    content: 'example: example@gmail.com, https://t.me/example, +77777777777';
    width: 140px;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;

    background-color: $color-default-white;
    border-radius: 5px;
    color: $color-default-black;
    padding: 5px 10px;

    position: absolute;
    bottom: -130%;
    z-index: 1;

    font-size: 12px;
  }

  &:hover {
    &:after {
      opacity: 1;
      transition: 0.3s;
    }
  }
}

.button {
  border-color: $color-default-white;

  button {
    color: $color-default-white;
  }
  svg {
    color: $color-default-white;
  }
}
.services {
  width: 50%;
  padding-left: 50px;

  @include mobile-big {
    width: 100%;
    padding: 0 0 50px 0;
  }
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  @include desktop-medium {
    font-size: 27px;
    line-height: 25px;
  }
}

.serviceIcon {
  width: 45px;
  height: 35px;

  img {
    width: 100%;
  }

  @include desktop-medium {
    width: 60px;
    height: 35px;
  }

  @include tablet {
    width: 40px;
    height: 25px;
  }
}
