$color-default-white: #fff;
$color-default-black: #000;

$color-french-grey: #212733;
$color-french-blue: #253861;
$color-light-black: #1a1f25;
$color-black: #17181c;

$color-light-grey: #f1f1f1;
$color-light-turquoise: #7dbaab;
$color-grey: #606060;
